body{
  padding-top:80px;
  word-wrap:break-word;
  background: #EC1B30;
}
h1{
  font-family: "bobs-burgers", sans-serif;
}
img{
  height: 220px;
}
.page-header.text-center{
  margin-top: 0;
}
.jumbotron.text-center{
  border-radius: 30px;
  box-shadow: 10px 6px 5px black;
  background: #F3ED0E;
}
.btn.btn-default{
  height: 40px;
  width: 20%;
  font-size: 17px;
}
@font-face{
  font-family: "bobs-burgers";
  src:
    local("bobs-burgers"),
    url("./bobs_burgers/Bob\'s\ Burgers.ttf")  
}
li{
  border: 2px solid black;
  list-style: none;
  height: 120px;
  width: 80%;
  margin: 10px;
  text-align: center;
  background-color: #F3ED0E;
  border-radius: 10px;
}
.cPics{
  height: 90px;
}
